img{

width: 250px;
height: 320px;
margin-right: 10px;




}
div{

   text-align: center;
   padding: 8px;


}


body{
  background: rgb(53, 53, 201);
  font: normal 15pt Arial;


}
h1{

    text-shadow: 5px 5px 10px black;

}

header{
background: rgba(0, 248, 248, 0.404);
text-align: center;
color: white;
padding: auto;
border: auto thick double;

border-color: 20px 20px 30px rgb(255, 0, 200);

}

section{
 background: white;
 border-radius: 10px;
 padding: 15px;
 width: 500px;
 margin: auto;
 box-shadow:3px 3px 10px rgba(0, 0, 0, 0.5);



}

footer{

color: white;
text-align: center;
font-style: italic;


}